<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define vrepVIVE_TargetDir=D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\Release\?>
	<Product Id="c2b42436-3106-40cd-9706-63769c5dde75" Name="CoppeliaSim VR interface " Language="1033" Version="2.2.0.0" Manufacturer="BorisBogaerts" UpgradeCode="6fd6d9e4-d7ca-4466-a0d0-a7a4749799a3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)LICENSE.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="CoppeliaSim VR interface " Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentGroupRef Id="modelFiles"/>
      <ComponentGroupRef Id="luaFiles"/>
      <ComponentGroupRef Id ="sceneFiles"/>
    </Feature>
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CoppeliaSim VR interface">
          <Directory Id="models" Name="Models" />
          <Directory Id="scene" Name="Scene" />
          <Directory Id="scripts" Name="Scripts" />
        </Directory>
      
			</Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="CoppeliaSim VR interface "/>
      </Directory>
      
		</Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="modelFiles" Directory="models">
      <Component Id="HTC_VIVE.ttm" Guid="*">
        <File Id="HTC_VIVE.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\HTC_VIVE.ttm" KeyPath="yes"/>
      </Component>

      <Component Id="VR360_cam.ttm" Guid="*">
        <File Id="VR360_cam.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\VR360_cam.ttm" KeyPath="yes"/>
      </Component>
      
      <Component Id="flickerLess_floor.ttm" Guid="*">
        <File Id="flickerLess_floor.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\flickerLess_floor.ttm" KeyPath="yes"/>
      </Component>
      
      <Component Id="Interactive_Coverage_Visualization.ttm" Guid="*">
        <File Id="Interactive_Coverage_Visualization.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\Interactive_Coverage_Visualization.ttm" KeyPath="yes"/>
      </Component>
    
    <Component Id="Attatch_Interactor.ttm" Guid="*">
        <File Id="Attatch_Interactor.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\Attatch_Interactor.ttm" KeyPath="yes"/>
      </Component>
      
      <Component Id="Drag_Interactor.ttm" Guid="*">
        <File Id="Drag_Interactor.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\Drag_Interactor.ttm" KeyPath="yes"/>
      </Component>

      <Component Id="Ray_Interactor.ttm" Guid="*">
        <File Id="Ray_Interactor.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\Ray_Interactor.ttm" KeyPath="yes"/>
      </Component>

      <Component Id="Path_Programming_Interactor.ttm" Guid="*">
        <File Id="Path_Programming_Interactor.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\Path_Programming_Interactor.ttm" KeyPath="yes"/>
      </Component>
      
      <Component Id="vr_menu.ttm" Guid="*">
        <File Id="vr_menu.ttm" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Models\vr_menu.ttm" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="sceneFiles" Directory="scene">
      <Component Id="Hello_controls.ttt" Guid="*">
        <File Id="Hello_controls.ttt" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scenes\Hello_controls.ttt" KeyPath="yes"/>
      </Component>
    
    <Component Id="Hello_signals.ttt" Guid="*">
        <File Id="Hello_signals.ttt" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scenes\Hello_signals.ttt" KeyPath="yes"/>
      </Component>
        
      <Component Id="Hello_vr_world.ttt" Guid="*">
        <File Id="Hello_vr_world.ttt" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scenes\Hello_vr_world.ttt" KeyPath="yes"/>
      </Component>

      <Component Id="Hello_camera_coverage.ttt" Guid="*">
        <File Id="Hello_camera_coverage.ttt" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scenes\Hello_camera_coverage.ttt" KeyPath="yes"/>
      </Component>

      <Component Id="VR_sensorPlacement_harbour.ttt" Guid="*">
        <File Id="VR_sensorPlacement_harbour.ttt" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scenes\VR_sensorPlacement_harbour.ttt" KeyPath="yes"/>
      </Component>

      <Component Id="VR_sensorPlacement_office.ttt" Guid="*">
        <File Id="VR_sensorPlacement_office.ttt" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scenes\VR_sensorPlacement_office.ttt" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="luaFiles" Directory="scripts">
      <Component Id="HTC_VIVE.lua" Guid="*">
        <File Id="HTC_VIVE.lua" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scripts\HTC_VIVE.lua" KeyPath="yes"/>
      </Component>
    
      <Component Id="Camera_feeder.lua" Guid="*">
        <File Id="Camera_feeder.lua" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scripts\Camera_feeder.lua" KeyPath="yes"/>
      </Component>
    
    <Component Id="voxelField.lua" Guid="*">
        <File Id="voxelField.lua" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\V-REP data\Scripts\voxelField.lua" KeyPath="yes"/>
      </Component>

    <Component Id="remoteApiConnections.txt" Guid="*">
      <File Id="remoteApiConnections.txt" Source="D:\OneDrive - uantwerpen\MATLAB\Op3Mech toolbox\VREP_toolbox\remoteApiConnections.txt" KeyPath="yes"/>
    </Component>
    </ComponentGroup>
    
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="vrepVIVE.exe" Guid="be40e0f6-fe27-49b2-8ad0-d1025426cbde">
			  <File Id="vrepVIVE.exe" Name="vrepVIVE.exe" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\Release\V-REP VR Interface.exe" />
			</Component>

      <Component Id="VR360_cam.exe" Guid="*">
        <File Id="VR360_cam.exe" Name="VR360_cam.exe" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\Release\VR360_cam.exe" />
      </Component>
      
      <Component Id="vrep_vtk_engine.lib" Guid="*">
			  <File Id="vrep_vtk_engine.lib" Name="vrep_vtk_engine.lib" Source="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\Release\vrep_vtk_engine.lib" />
			</Component>
    
    <Component Id="copyToVREP.bat" Guid="*">
        <File Id="copyToVREP.bat" Source="D:\OneDrive - uantwerpen\C++\vrep_vr_installer\copyToVREP.bat" KeyPath="yes"/>
      </Component>
      
      <Component Id="openvr_api.dll" Guid="*">
        <File Id="openvr_api.dll" Source="$(var.vrepVIVE_TargetDir)openvr_api.dll" KeyPath="yes"/>
      </Component>

      
       <Component Id="vtkChartsCore8.2.dll" Guid="*">
        <File Id="vtkChartsCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkChartsCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonColor8.2.dll" Guid="*">
        <File Id="vtkCommonColor8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonColor-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonComputationalGeometry8.2.dll" Guid="*">
        <File Id="vtkCommonComputationalGeometry8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonComputationalGeometry-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonCore8.2.dll" Guid="*">
        <File Id="vtkCommonCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonDataModel8.2.dll" Guid="*">
        <File Id="vtkCommonDataModel8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonDataModel-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonExecutionModel8.2.dll" Guid="*">
        <File Id="vtkCommonExecutionModel8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonExecutionModel-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonMath8.2.dll" Guid="*">
        <File Id="vtkCommonMath8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonMath-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonMisc8.2.dll" Guid="*">
        <File Id="vtkCommonMisc8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonMisc-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonSystem8.2.dll" Guid="*">
        <File Id="vtkCommonSystem8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonSystem-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkCommonTransforms8.2.dll" Guid="*">
        <File Id="vtkCommonTransforms8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkCommonTransforms-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkDICOMParser8.2.dll" Guid="*">
        <File Id="vtkDICOMParser8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkDICOMParser-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkDomainsChemistry8.2.dll" Guid="*">
        <File Id="vtkDomainsChemistry8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkDomainsChemistry-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkDomainsChemistryOpenGL28.2.dll" Guid="*">
        <File Id="vtkDomainsChemistryOpenGL28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkDomainsChemistryOpenGL2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersAMR8.2.dll" Guid="*">
        <File Id="vtkFiltersAMR8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersAMR-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersCore8.2.dll" Guid="*">
        <File Id="vtkFiltersCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersExtraction8.2.dll" Guid="*">
        <File Id="vtkFiltersExtraction8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersExtraction-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersFlowPaths8.2.dll" Guid="*">
        <File Id="vtkFiltersFlowPaths8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersFlowPaths-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersGeneral8.2.dll" Guid="*">
        <File Id="vtkFiltersGeneral8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersGeneral-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersGeneric8.2.dll" Guid="*">
        <File Id="vtkFiltersGeneric8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersGeneric-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersGeometry8.2.dll" Guid="*">
        <File Id="vtkFiltersGeometry8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersGeometry-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersHybrid8.2.dll" Guid="*">
        <File Id="vtkFiltersHybrid8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersHybrid-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersHyperTree8.2.dll" Guid="*">
        <File Id="vtkFiltersHyperTree8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersHyperTree-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersImaging8.2.dll" Guid="*">
        <File Id="vtkFiltersImaging8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersImaging-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersModeling8.2.dll" Guid="*">
        <File Id="vtkFiltersModeling8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersModeling-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersParallel8.2.dll" Guid="*">
        <File Id="vtkFiltersParallel8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersParallel-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersParallelImaging8.2.dll" Guid="*">
        <File Id="vtkFiltersParallelImaging8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersParallelImaging-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersPoints8.2.dll" Guid="*">
        <File Id="vtkFiltersPoints8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersPoints-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersProgrammable8.2.dll" Guid="*">
        <File Id="vtkFiltersProgrammable8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersProgrammable-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersSMP8.2.dll" Guid="*">
        <File Id="vtkFiltersSMP8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersSMP-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersSelection8.2.dll" Guid="*">
        <File Id="vtkFiltersSelection8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersSelection-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersSources8.2.dll" Guid="*">
        <File Id="vtkFiltersSources8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersSources-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersStatistics8.2.dll" Guid="*">
        <File Id="vtkFiltersStatistics8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersStatistics-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersTexture8.2.dll" Guid="*">
        <File Id="vtkFiltersTexture8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersTexture-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersTopology8.2.dll" Guid="*">
        <File Id="vtkFiltersTopology8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersTopology-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkFiltersVerdict8.2.dll" Guid="*">
        <File Id="vtkFiltersVerdict8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkFiltersVerdict-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkGeovisCore8.2.dll" Guid="*">
        <File Id="vtkGeovisCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkGeovisCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOAMR8.2.dll" Guid="*">
        <File Id="vtkIOAMR8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOAMR-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOAsynchronous8.2.dll" Guid="*">
        <File Id="vtkIOAsynchronous8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOAsynchronous-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOCityGML8.2.dll" Guid="*">
        <File Id="vtkIOCityGML8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOCityGML-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOCore8.2.dll" Guid="*">
        <File Id="vtkIOCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOEnSight8.2.dll" Guid="*">
        <File Id="vtkIOEnSight8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOEnSight-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOExodus8.2.dll" Guid="*">
        <File Id="vtkIOExodus8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOExodus-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOExport8.2.dll" Guid="*">
        <File Id="vtkIOExport8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOExport-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOExportOpenGL28.2.dll" Guid="*">
        <File Id="vtkIOExportOpenGL28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOExportOpenGL2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOExportPDF8.2.dll" Guid="*">
        <File Id="vtkIOExportPDF8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOExportPDF-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOGeometry8.2.dll" Guid="*">
        <File Id="vtkIOGeometry8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOGeometry-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOImage8.2.dll" Guid="*">
        <File Id="vtkIOImage8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOImage-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOImport8.2.dll" Guid="*">
        <File Id="vtkIOImport8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOImport-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOInfovis8.2.dll" Guid="*">
        <File Id="vtkIOInfovis8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOInfovis-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOLSDyna8.2.dll" Guid="*">
        <File Id="vtkIOLSDyna8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOLSDyna-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOLegacy8.2.dll" Guid="*">
        <File Id="vtkIOLegacy8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOLegacy-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOMINC8.2.dll" Guid="*">
        <File Id="vtkIOMINC8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOMINC-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOMovie8.2.dll" Guid="*">
        <File Id="vtkIOMovie8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOMovie-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIONetCDF8.2.dll" Guid="*">
        <File Id="vtkIONetCDF8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIONetCDF-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOPLY8.2.dll" Guid="*">
        <File Id="vtkIOPLY8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOPLY-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOParallel8.2.dll" Guid="*">
        <File Id="vtkIOParallel8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOParallel-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOParallelXML8.2.dll" Guid="*">
        <File Id="vtkIOParallelXML8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOParallelXML-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOSQL8.2.dll" Guid="*">
        <File Id="vtkIOSQL8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOSQL-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOSegY8.2.dll" Guid="*">
        <File Id="vtkIOSegY8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOSegY-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOTecplotTable8.2.dll" Guid="*">
        <File Id="vtkIOTecplotTable8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOTecplotTable-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOVeraOut8.2.dll" Guid="*">
        <File Id="vtkIOVeraOut8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOVeraOut-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOVideo8.2.dll" Guid="*">
        <File Id="vtkIOVideo8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOVideo-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOXML8.2.dll" Guid="*">
        <File Id="vtkIOXML8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOXML-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkIOXMLParser8.2.dll" Guid="*">
        <File Id="vtkIOXMLParser8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkIOXMLParser-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingColor8.2.dll" Guid="*">
        <File Id="vtkImagingColor8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingColor-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingCore8.2.dll" Guid="*">
        <File Id="vtkImagingCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingFourier8.2.dll" Guid="*">
        <File Id="vtkImagingFourier8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingFourier-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingGeneral8.2.dll" Guid="*">
        <File Id="vtkImagingGeneral8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingGeneral-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingHybrid8.2.dll" Guid="*">
        <File Id="vtkImagingHybrid8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingHybrid-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingMath8.2.dll" Guid="*">
        <File Id="vtkImagingMath8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingMath-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingMorphological8.2.dll" Guid="*">
        <File Id="vtkImagingMorphological8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingMorphological-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingSources8.2.dll" Guid="*">
        <File Id="vtkImagingSources8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingSources-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingStatistics8.2.dll" Guid="*">
        <File Id="vtkImagingStatistics8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingStatistics-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkImagingStencil8.2.dll" Guid="*">
        <File Id="vtkImagingStencil8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkImagingStencil-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkInfovisCore8.2.dll" Guid="*">
        <File Id="vtkInfovisCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkInfovisCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkInfovisLayout8.2.dll" Guid="*">
        <File Id="vtkInfovisLayout8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkInfovisLayout-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkInteractionImage8.2.dll" Guid="*">
        <File Id="vtkInteractionImage8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkInteractionImage-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkInteractionStyle8.2.dll" Guid="*">
        <File Id="vtkInteractionStyle8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkInteractionStyle-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkInteractionWidgets8.2.dll" Guid="*">
        <File Id="vtkInteractionWidgets8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkInteractionWidgets-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkNetCDF8.2.dll" Guid="*">
        <File Id="vtkNetCDF8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkNetCDF-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkParallelCore8.2.dll" Guid="*">
        <File Id="vtkParallelCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkParallelCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingAnnotation8.2.dll" Guid="*">
        <File Id="vtkRenderingAnnotation8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingAnnotation-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingContext2D8.2.dll" Guid="*">
        <File Id="vtkRenderingContext2D8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingContext2D-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingContextOpenGL28.2.dll" Guid="*">
        <File Id="vtkRenderingContextOpenGL28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingContextOpenGL2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingCore8.2.dll" Guid="*">
        <File Id="vtkRenderingCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingFreeType8.2.dll" Guid="*">
        <File Id="vtkRenderingFreeType8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingFreeType-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingGL2PSOpenGL28.2.dll" Guid="*">
        <File Id="vtkRenderingGL2PSOpenGL28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingGL2PSOpenGL2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingImage8.2.dll" Guid="*">
        <File Id="vtkRenderingImage8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingImage-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingLOD8.2.dll" Guid="*">
        <File Id="vtkRenderingLOD8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingLOD-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingLabel8.2.dll" Guid="*">
        <File Id="vtkRenderingLabel8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingLabel-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingOpenGL28.2.dll" Guid="*">
        <File Id="vtkRenderingOpenGL28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingOpenGL2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingOpenVR8.2.dll" Guid="*">
        <File Id="vtkRenderingOpenVR8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingOpenVR-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingVolume8.2.dll" Guid="*">
        <File Id="vtkRenderingVolume8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingVolume-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkRenderingVolumeOpenGL28.2.dll" Guid="*">
        <File Id="vtkRenderingVolumeOpenGL28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkRenderingVolumeOpenGL2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkViewsContext2D8.2.dll" Guid="*">
        <File Id="vtkViewsContext2D8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkViewsContext2D-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkViewsCore8.2.dll" Guid="*">
        <File Id="vtkViewsCore8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkViewsCore-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkViewsInfovis8.2.dll" Guid="*">
        <File Id="vtkViewsInfovis8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkViewsInfovis-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkdoubleconversion8.2.dll" Guid="*">
        <File Id="vtkdoubleconversion8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkdoubleconversion-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkexodusII8.2.dll" Guid="*">
        <File Id="vtkexodusII8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkexodusII-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkexpat8.2.dll" Guid="*">
        <File Id="vtkexpat8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkexpat-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkfreetype8.2.dll" Guid="*">
        <File Id="vtkfreetype8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkfreetype-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkgl2ps8.2.dll" Guid="*">
        <File Id="vtkgl2ps8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkgl2ps-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkglew8.2.dll" Guid="*">
        <File Id="vtkglew8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkglew-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkhdf58.2.dll" Guid="*">
        <File Id="vtkhdf58.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkhdf5-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkhdf5_hl8.2.dll" Guid="*">
        <File Id="vtkhdf5_hl8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkhdf5_hl-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkjpeg8.2.dll" Guid="*">
        <File Id="vtkjpeg8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkjpeg-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkjsoncpp8.2.dll" Guid="*">
        <File Id="vtkjsoncpp8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkjsoncpp-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtklibharu8.2.dll" Guid="*">
        <File Id="vtklibharu8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtklibharu-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtklibxml28.2.dll" Guid="*">
        <File Id="vtklibxml28.2.dll" Source="$(var.vrepVIVE_TargetDir)vtklibxml2-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtklz48.2.dll" Guid="*">
        <File Id="vtklz48.2.dll" Source="$(var.vrepVIVE_TargetDir)vtklz4-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtklzma8.2.dll" Guid="*">
        <File Id="vtklzma8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtklzma-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkmetaio8.2.dll" Guid="*">
        <File Id="vtkmetaio8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkmetaio-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkogg8.2.dll" Guid="*">
        <File Id="vtkogg8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkogg-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkpng8.2.dll" Guid="*">
        <File Id="vtkpng8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkpng-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkproj8.2.dll" Guid="*">
        <File Id="vtkproj8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkproj-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkpugixml8.2.dll" Guid="*">
        <File Id="vtkpugixml8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkpugixml-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtksqlite8.2.dll" Guid="*">
        <File Id="vtksqlite8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtksqlite-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtksys8.2.dll" Guid="*">
        <File Id="vtksys8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtksys-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtktheora8.2.dll" Guid="*">
        <File Id="vtktheora8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtktheora-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtktiff8.2.dll" Guid="*">
        <File Id="vtktiff8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtktiff-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkverdict8.2.dll" Guid="*">
        <File Id="vtkverdict8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkverdict-8.2.dll" KeyPath="yes"/>
        </Component>

        <Component Id="vtkzlib8.2.dll" Guid="*">
        <File Id="vtkzlib8.2.dll" Source="$(var.vrepVIVE_TargetDir)vtkzlib-8.2.dll" KeyPath="yes"/>
        </Component>
      
		</ComponentGroup>
	</Fragment>

  
  
  <Fragment>
    <Icon Id="the.ico" SourceFile="D:\OneDrive - uantwerpen\C++\discrete_scan_parallel\geen_titel_1_OHv_icon.ico" />
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="5e6186af-85d1-4a8a-a190-4cefc0db953c">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="CoppeliaSim VR interface "
           Description="This program lets you experience CoppeliaSim in VR"
            Target="[#vrepVIVE.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"
                  Icon ="the.ico"/>
        
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\vrepVIVE" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Fragment>
</Wix>
